body {
    position: relative;
    font-family: Verdana, Arial, serif;
    margin: 0;
    background: #2c3e50;
}
#impress,
#impress > div {
    width: 100%;
}
a,
a:visited {
    color: #64BBDB;
}
div.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    background: #2196F3;
}

div.fixed-header img {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
}
h1.nav-title {
    margin-left: 80px;
    margin-top: 25px;
    font-weight: bold;
    color: white;
}
#fixed-header .print {
    display: none;
}
#fixed-header p {
    margin: 8px 0 0 0;
}
#fixed-header.disabled {
    display: none;
}

.step {
    font-size: 28px;
    color: #333333;
    width: 70%;
}
@media only screen and (max-width: 700px) {
    .step {
        margin: 10%;
        width: 100%;
    }
  }
/* slide construct */
div.slides {
    margin: 0px auto;
    width: 1200px;
    height: 768px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-left: -600px;
    margin-top: -354px;
    background: #fdf6e3;
}
@media only screen and (max-width: 700px) {
    div.slides {
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        margin-left: 0px;
        margin-top: 0px;
    }
}
h1 {
    color: #d33682;
}
h2 {
    color: #6c71c4;
}
pre {
    padding: 20px;
    color: #ffffff;
    font-size: 0.65em;
    line-height: 1.2em;
}
tt {
    color: #208F9E;
}
ul li {
    padding-left: 5px;
}
dt {
    font-weight: bold;
}
table {
    width: 100%;
}
th {
    border-bottom: 2px solid #000000;
}
th, td {
    padding: 5px 15px;
    text-align: left;
}
td p,
th p {
    margin: 0;
}

/* title slide */
#step-1 {
    text-align: center;
}

/* for mobile browsers and others that don't support CSS 3D transforms */
.impress-not-supported #impress,
.impress-not-supported #impress > div {
    position: static !important;
    margin: 100px 0;
    width: auto !important;
}
.impress-not-supported .step {
    padding: 5%;
    border-bottom: 2px solid #cccccc;
    width: 90% !important;
}
.impress-not-supported #hovercraft-help {
    display: none;
}
.impress-not-supported #footer {
    font-size: 15px;
}

@media screen and (max-width: 500px) {
    .step {
        width: 200%;
    }
}



